@font-face {
  font-family: Circe-Thin;
  src: url('./src/assets/fonts/Circe-Thin.ttf');
}

@font-face {
  font-family: Circe-Light;
  src: url('./src/assets/fonts/Circe-Light.ttf');
}

@font-face {
  font-family: Circe-Regular;
  src: url('./src/assets/fonts/Circe-Regular.ttf');
}

@font-face {
  font-family: Circe-Bold;
  src: url('./src/assets/fonts/Circe-Bold.ttf');
}

@font-face {
  font-family: Circe-ExtraBold;
  src: url('./src/assets/fonts/Circe-ExtraBold.ttf');
}
